:root {
	--logo-color: #4d5ae5;
	--color-grey: #2e2f42;
	--paragraph-color: #434455;
}
body {
	font-family: "Roboto", sans-serif;
	color: #434455;
	background-color: #ffffff;
}

img {
	display: block;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

/*----------------------------------------------------*/
.wrapper {
}
.hide {
	display: none;
}

.container {
	max-width: 1158px;
	margin: 0 auto;
	padding-right: 15px;
	padding-left: 15px;
}
.list {
	list-style: none;
	padding-left: 0;
	margin: 0;
}

.link {
	text-decoration: none;
}
/*----------------------------------------------------*/
.menu-toggle {
	min-height: 40px;
	min-width: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
	padding: 0;
	background-color: #ffffff;
	cursor: pointer;
	border: none;
	border-radius: 50%;
	outline: none;
}
.close-style {
	display: flex;
	padding: 8px;
	background: #e7e9fc11;
	border: 1px solid #2e2f421e;
	stroke-opacity: 0.1;
	border-radius: 50%;
}
.menu-button-svg {
}

.menu-toggle:hover,
.menu-toggle:focus {
	background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
	position: fixed;
	top: 0;
	left: 0;
	overflow: auto;
	width: 100vw;
	height: 100vh;
	padding: 32px;
	background-color: #ffffff;
	z-index: 999;
	transform: translateX(100%);
	transition: transform 250ms ease-in-out;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-top: 40px;
	margin-bottom: 48px;
	gap: 20px;
}

.menu-container.is-open {
	transform: translateX(0);
}

.menu-container .menu-toggle {
	position: absolute;
	top: 16px;
	right: 16px;
	color: #fff;
}
.menu-box {
}
.mobile-menu {
	padding: 0;
	margin: 0;
	list-style: none;
}
/* .menu-contacts {
	
} */
.menu-link {
	display: block;
	max-width: 353px;
	font-weight: 700;
	font-size: 36px;
	line-height: 1.11;
	letter-spacing: 0.02em;
	text-transform: capitalize;
	color: #2e2f42;
	font-style: normal;
}
.menu-address {
}
.menu-address-list {
}
.list {
}
.menu-list-item {
	margin-bottom: 40px;
}
.address-style {
	font-style: normal;
	font-weight: 700;
	font-size: 36px;
	line-height: 1.11;
	letter-spacing: 0.02em;
	text-transform: capitalize;
	color: #4d5ae5;
}
.address-item {
	margin-bottom: 48px;
}
.menu-item-link {
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: 0.02em;
	color: #434455;
}
.current-menu {
	color: #404bbf;
}

.mobile-menu .link {
	display: block;
	padding: 10px;
	text-decoration: none;
}

.menu-icons {
	display: flex;
	max-width: 328px;
	justify-content: space-between;
}
.menu-icon {
	fill: #f4f4fd;
}
.menu-icon-svg {
	width: 100%;
	height: 100%;
	background-color: #4d5ae5;
	padding: 8px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*----------------------------------------------------*/
.header {
	border-bottom: 1px solid #e7e9fc;
	padding-top: 24px;
	padding-bottom: 24px;
	box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
		0px 1px 6px rgba(46, 47, 66, 0.08);
}
.container-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header-nav {
	display: flex;
	align-items: center;
}
.address {
}
.address-list {
	display: none;
	font-style: normal;
}

.logo-header {
	font-family: "Raleway", sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 1.17;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--logo-color);
	align-self: center;
	margin-right: 76px;
}
.logo-header-span {
	color: var(--color-grey);
}

.header-nav-list {
}

.header-list-item-link {
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	font-weight: 500;
	color: var(--color-grey);
	padding-bottom: 24px;
}
.header-list-item-link:active,
.header-list-item-link:focus,
.header-list-item-link:hover {
	color: #404bbf;
}

.header-list-item-link-address {
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	color: #434455;
	letter-spacing: 0.02em;
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-list-item-link-address:focus,
.header-list-item-link-address:hover {
	color: #404bbf;
}
.nav-studio {
}
.header-nav-studio-active {
	color: #404bbf;
	position: relative;
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.current:after {
	content: "";
	position: absolute;
	left: 0;
	bottom: -1px;
	background-color: #404bbf;
	height: 4px;
	border-radius: 2px;
	display: block;
	width: 100%;
}
.nav-portfolio {
}
.header-nav-portfolio-active {
	position: relative;
	color: #404bbf;
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*----------------------------------------------------*/
.container-hero {
	display: flex;
	flex-direction: column;
	/* padding: 0 316px; */
	padding: 0 54px;
}

.section-first {
	background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
		url(../images/bg-mobile.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0 auto;
	background-position: center;
	/* padding: 188px 0px; */
	padding: 112px 0;
}

.main-tittle {
	line-height: 1.11;
	font-size: 36px;
	color: #ffffff;
	letter-spacing: 0.02em;
	text-align: center;
	max-width: 496px;
	margin: 0 auto;
	margin-bottom: 72px;
}
.button {
	display: block;
	min-width: 169px;
	height: 56px;
	border: none;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.04em;
	color: #ffffff;
	background-color: #4d5ae5;
	border-radius: 4px;
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	cursor: pointer;
	padding: 16px 32px;
	align-self: center;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:focus,
.button:hover {
	background: #404bbf;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/*----------------------------------------------------*/
.section-second {
	padding: 96px 0;
}
.hidden-tittle {
	display: none;
}
.second-menu-list {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	gap: 72px;
}
.menu-list-item {
}

.second-item-svg {
}
.svg-box {
	display: none;
}
.svg-second {
	margin: 24px 100px;
}

.tittle {
	text-align: center;
	font-size: 36px;
	line-height: 1.11;
	letter-spacing: 0.02em;
	color: var(--color-grey);
	margin-bottom: 8px;
}
.description {
	font-weight: 500;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: #434455;
}

/*----------------------------------------------------*/
.section-third {
	padding-bottom: 120px;
}
.container-app {
}
.subtitle {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.11;
	text-align: center;
	text-transform: capitalize;
	letter-spacing: 0.02em;
	color: var(--color-grey);
	margin-bottom: 72px;
}
.app-list {
	display: flex;
	gap: 24px;
}
.app-list-item {
	width: calc((100% - 48px) / 3);
}
.app-list img {
}
/*----------------------------------------------------*/
.section-fourth {
	background-color: #f4f4fd;

	padding: 96px 0;
}
.team {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 72px;
}

.list-item {
	display: flex;
	flex-direction: column;
	flex-basis: calc((100% - 216px) / 4);
	box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
		0px 2px 1px rgba(46, 47, 66, 0.08);
	border-radius: 0px 0px 4px 4px;
	background-color: #ffffff;
	justify-content: center;
	align-items: center;
}
.team-description {
	text-align: center;
}
.team-box {
	padding: 32px 0;
}
.team-title {
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	color: var(--color-grey);
	letter-spacing: 0.02em;
	text-align: center;
}
.fourth-icon-list {
	display: flex;
	justify-content: center;
	margin-top: 8px;
	gap: 24px;
}
.fourth-item {
	width: 40px;
	height: 40px;
}
.fourth-icon-svg {
	width: 100%;
	height: 100%;
	background-color: #4d5ae5;
	padding: 12px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.fourth-icon-svg:focus,
.fourth-icon-svg:hover {
	background-color: #404bbf;
}
.fourth-icon {
	fill: #f4f4fd;
}

/*----------------------------------------------------*/
.section-fifth {
	padding: 96px 0;
}
.fifth-container {
}
.fifth-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 72px 16px;
}
.fifth-list-item {
	/* display: inline-block; */
	height: 88px;
	flex-basis: calc((100% - 16px) / 2);
}
.fifth-svg {
	fill: currentColor;
}
.fifth-link {
	width: 100%;
	height: 100%;
	border: 1px solid #8e8f99;
	color: #8e8f99;
	border-radius: 4px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 16px 32px;
	transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.fifth-link:focus,
.fifth-link:hover {
	color: #404bbf;
	border: 1px solid #404bbf;
}

/*----------------------------------------------------*/

.section-category {
	padding-top: 96px;
	padding-bottom: 120px;
}
.category-filter {
	display: flex;
	gap: 24px;
	margin-bottom: 72px;
	align-items: center;
	justify-content: center;
}
.button-category {
	font-size: 16px;
	line-height: 1.5;
	color: #4d5ae5;
	background-color: #f4f4fd;
	border: 1px solid #e7e9fc;
	border-radius: 4px;
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	letter-spacing: 0.04em;
	cursor: pointer;
	padding: 12px 24px;
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
		border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-category:focus,
.button-category:hover {
	color: #ffffff;
	background: #404bbf;
	border: 1px solid transparent;
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
	border-radius: 4px;
}
/*----------------------------------------------------*/
.app-box {
	padding: 32px 16px;
	border: 1px solid #e7e9fc;
	border-top: none;
}
.tittle-box {
	text-align: start;
	margin-bottom: 8px;
}
.category {
	font-size: 16px;
	line-height: 1.5;
	color: #434455;
	letter-spacing: 0.02em;
	color: var(--paragraph-color);
}
.category-list {
	display: flex;
	flex-wrap: wrap;
}

.category-item {
	margin-right: 24px;
	margin-bottom: 48px;
	position: relative;
	overflow: hidden;
}
.link-category {
	display: block;
	transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-category:hover {
	box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
		0px 2px 1px rgba(46, 47, 66, 0.08);
}
.link-category:focus .overlay-text {
	transform: translateY(0%);
}
.link-category:focus,
.link-category:hover > .overlay-text {
	box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
		0px 2px 1px rgba(46, 47, 66, 0.08);
}
.category-box-img {
	position: relative;
	overflow: hidden;
}

.overlay-text {
	position: absolute;
	top: 0;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: #f4f4fd;
	padding: 40px 32px;
	background-color: #4d5ae5;
	height: 100%;
	width: 100%;
	transform: translateY(100%);
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.category-box-img:hover .overlay-text {
	transform: translateY(0);
}
.category-item:focus,
.category-item:hover {
	box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
		0px 2px 1px rgba(46, 47, 66, 0.08);
}
.category-item:nth-child(3) {
	margin-right: 0;
}
.category-item:nth-child(6) {
	margin-right: 0;
}
.category-item:nth-child(9) {
	margin-right: 0;
	margin-bottom: 0;
}
.category-item:nth-child(7) {
	margin-bottom: 0;
}
.category-item:nth-child(8) {
	margin-bottom: 0;
}

.category-item :not(:last-child) {
}
.category-item:hover {
}
.category-image {
}
/*----------------------------------------------------*/
.footer {
	background-color: #2e2f42;
	padding: 96px 0;
}
.container-footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/* align-items: baseline; */
	gap: 72px;
}
.footer-box {
	text-align: center;
}
.footer-box-sm {
	margin-top: 72px;
}
.footer-sm {
	text-align: center;
	font-weight: 500;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: #ffffff;
	margin-bottom: 16px;
}
.footer-icons {
	display: flex;
	justify-content: center;
	gap: 16px;
}
.footer-icon {
	fill: #f4f4fd;
}
.footer-icon-svg {
	width: 100%;
	height: 100%;
	background-color: #4d5ae5;
	padding: 8px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-icon-svg:focus,
.footer-icon-svg:hover {
	background-color: #31d0aa;
}
.logo-footer {
	font-family: "Raleway", sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 1.17;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--logo-color);
	margin-bottom: 16px;
	display: inline-block;
}
.logo-footer-span {
	color: #f4f4fd;
}
.footer-paragraph {
	text-align: left;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: #f4f4fd;
	max-width: 264px;
}

/*----------------------------------------------------*/
.footer-form {
	display: flex;
	flex-direction: column;
	gap: 16px;
}
.footer-box-form {
}
.input-footer-title {
	text-align: center;
	margin-bottom: 16px;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: #ffffff;
}
.footer-input {
	display: block;
	min-width: 320px;
	height: 40px;
	font-size: 12px;
	line-height: 1.5;
	letter-spacing: 0.04em;
	padding-left: 16px;
	background-color: transparent;
	border: 1px solid #ffffff;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
	border-radius: 4px;
	color: #ffffff;
}
.footer-input::placeholder {
	color: #ffffff;
}
.footer-label {
}

.footer-btn {
	margin: 0 auto;
	width: 165px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	font-weight: 500;
	letter-spacing: 0.04em;
	cursor: pointer;
	border: none;
	padding: 10px 24px;
	color: #ffffff;
	line-height: 1.5;
	background: #4d5ae5;
	border-radius: 4px;
}

.footer__btn-svg {
	margin-left: 16px;
}

/*----------------------------------------------------*/
.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(46, 47, 66, 0.4);
	transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
	overflow: auto;
}
.is-hidden {
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
}
.modal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(1);
	max-width: 408px;
	width: calc(100% - 36px);
	min-height: 584px;
	background: #fcfcfc;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button {
	position: absolute;
	top: 24px;
	right: 24px;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #e7e9fc;
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 0;
	cursor: pointer;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button:hover {
	border: none;
	background-color: #404bbf;
}
.modal-button:focus {
	border: none;
	background-color: #404bbf;
}
.modal-button:hover,
.modal-button:focus .modal-button-svg {
	fill: #ffffff;
}
.modal-button-svg {
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*----------------------------------------------------*/
.modal-container {
	padding: 72px 24px 24px 24px;
}
.modal-title {
	font-weight: 500;
	line-height: 1.5;
	text-align: center;
	letter-spacing: 0.02em;
	color: #2e2f42;
	margin-bottom: 16px;
}
.modal-name-box {
	margin-bottom: 8px;
}
.modal-name {
	font-size: 12px;
	line-height: 1.17;
	letter-spacing: 0.04em;
	color: #8e8f99;
	display: block;
	margin-bottom: 4px;
}
.box-username {
	position: relative;
}
.username-icon {
	position: absolute;
	left: 16px;
	top: 50%;
	transform: translateY(-50%);
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus-within + .username-icon {
	fill: #4d5ae5;
}
.modal-button-svg {
}
.modal-form {
}
.modal-input {
	width: 100%;
	height: 40px;
	display: block;
	border: 1px solid rgba(46, 47, 66, 0.4);
	border-radius: 4px;
	background-color: transparent;
	padding-left: 38px;
	margin-bottom: 8px;
	outline: transparent;
	transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus-within {
	border-color: #4d5ae5;
}
.textarea-box {
	display: flex;
	flex-direction: column;
	gap: 4px;
	margin-bottom: 16px;
}
.modal-textarea {
	width: 100%;
	height: 120px;
	font-size: 12px;
	line-height: 1.17;
	letter-spacing: 0.04em;
	color: rgba(46, 47, 66, 0.4);
	border-radius: 4px;
	background-color: transparent;
	padding: 8px 16px;
	outline: transparent;
	border: 1px solid rgba(46, 47, 66, 0.2);
	resize: none;
	transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-textarea:focus-within {
	border-color: #4d5ae5;
}
.modal-textarea::placeholder {
	font-size: 12px;
	line-height: 1.17;
	letter-spacing: 0.04em;
	color: rgba(46, 47, 66, 0.4);
}
.checkbox-box {
	margin-bottom: 24px;
}
.privacy-checkbox {
}
.privacy-checkbox:checked + .privacy-label > .checkbox-box-svg {
	background-color: #404bbf;
	border: none;
	fill: #ffffff;
}
.privacy-link {
	color: #4d5ae5;
	text-decoration: underline;
	display: inline-block;
	margin-left: 3px;
}
.checkbox-box-svg {
	margin-right: 8px;
	width: 16px;
	height: 16px;
	border: 1px solid rgba(46, 47, 66, 0.4);
	border-radius: 2px;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1),
		fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
	display: inline-flex;
	align-items: center;
	justify-content: center;
	fill: transparent;
}
.checkbox-svg {
}
.privacy-label {
	font-size: 12px;
	line-height: 1.17;
	letter-spacing: 0.04em;
	color: #8e8f99;
	display: block;
}

.modal-btn {
	display: block;
	min-width: 169px;
	height: 56px;
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	font-weight: 500;
	margin: 0 auto;
	background-color: #4d5ae5;
	border: none;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	line-height: 1.5;
	cursor: pointer;
	letter-spacing: 0.04em;
	color: #ffffff;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}
/*----------------------------------------------------*/
@media (max-width: 428px) {
	.header-nav-list {
		display: none;
	}
}
@media (min-width: 428px) and (max-width: 768px) {
	.header-nav-list {
		display: none;
	}
}
@media (min-width: 768px) {
	.menu-toggle {
		display: none;
	}
	.header {
		border-bottom: 1px solid #e7e9fc;
		padding-top: 16px;
		padding-bottom: 8px;
		box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
			0px 1px 6px rgba(46, 47, 66, 0.08);
	}
	.header-nav-list {
		display: flex;
		gap: 40px;
	}
	.address-list {
		display: flex;
		flex-direction: column;
		gap: 12px;
	}
	.header-list-item-link-address {
		font-size: 12px;
		line-height: 1.17;
		letter-spacing: 0.04em;
	}
	.main-tittle {
		font-size: 56px;
		line-height: 1.07;
		font-size: 56px;
		margin-bottom: 36px;
	}
	.section-first {
		background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
			url(../images/bg-tablet.jpg);
	}
	.second-menu-list {
		flex-direction: row;
		gap: 72px 24px;
	}
	.menu-list-item {
		flex-basis: calc((100% - 24px) / 2);
	}
	.team {
		flex-direction: row;
		gap: 64px 24px;
	}
	.fifth-list {
		gap: 72px 24px;
	}
	.fifth-list-item {
		flex-basis: calc((100% - 48px) / 3);
	}
	.container-footer {
		flex-direction: column;
		gap: 72px 24px;
		flex-wrap: wrap;
	}
	.footer-box-container {
		display: flex;
		align-items: baseline;
		gap: 24px;
	}
	.footer-box {
		text-align: left;
	}
	.footer-box-form {
	}
	.footer-box-sm {
		margin-top: 0;
	}
	.input-footer-title {
		text-align: left;
	}
	.footer-form {
		flex-direction: row;
		gap: 24px;
	}
	.footer-input {
		width: 264px;
	}
}
@media (min-width: 1158px) {
	.header {
		padding-top: 24px;
		padding-bottom: 21px;
	}

	.address-list {
		display: flex;
		flex-direction: row;
		gap: 40px;
	}
	.main-tittle {
		font-size: 56px;
		line-height: 1.07;
		margin-bottom: 48px;
	}
	.header-list-item-link-address {
		font-size: 16px;
		line-height: 1.5;
		letter-spacing: 0.02em;
	}
	.section-first {
		max-width: 1440px;
		background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
			url(../images/people-office.jpg);
		padding: 188px 0;
	}
	.section-second {
		padding: 120px 0;
	}
	.second-menu-list {
		gap: 24px;
	}
	.menu-list-item {
		flex-basis: calc((100% - 72px) / 4);
	}
	.tittle {
		font-weight: 500;
		font-size: 20px;
	}
	.description {
		font-weight: 400;
	}
	.svg-box {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 8px;
		background: #f4f4fd;
		border-radius: 4px;
		width: 264px;
		height: 112px;
	}
	.section-third {
		display: block;
	}
	.section-fourth {
		padding: 120px 0;
	}
	.team {
		gap: 24px;
	}
	.list-item {
		flex-basis: calc((100% - 72px) / 4);
	}
	.fifth-list {
		gap: 21px;
	}
	.fifth-list-item {
		flex-basis: calc((100% - 120px) / 6);
	}
	.container-footer {
		max-width: 100%;
		flex-direction: row;
		gap: 25px;
		flex-wrap: wrap;
		justify-content: baseline;
		align-items: baseline;
	}
	.footer-box-container {
		display: flex;
		align-items: baseline;
		gap: 120px;
	}
	.footer-sm {
		text-align: left;
	}
	.footer-box {
		text-align: left;
	}
	.footer-box-form {
	}
	.footer-box-sm {
		margin-top: 0;
	}
	.input-footer-title {
		text-align: left;
	}
	.footer-form {
		flex-direction: row;
		gap: 24px;
	}
	.footer-input {
		width: 264px;
	}
}
@media (min-width: 1212px) {
	.container-footer {
		gap: 80px;
	}
}

@media (min-resolution: 192dpi) {
	.section-first {
		background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
			url(../images/bg-mobile@2.jpg);
	}
}

@media (min-width: 768px) and (min-resolution: 192dpi) {
	.section-first {
		background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
			url(../images/bg-tablet@2.jpg);
	}
}
@media (min-width: 1158px) and (min-resolution: 192dpi) {
	.section-first {
		background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
			url(../images/people-office@2x.jpg);
	}
}
